@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Faces */
@font-face {
  font-family: "Mundial";
  src: url("/fonts/Mundial-Regular.woff2") format("woff2"),
    url("/fonts/Mundial-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mundial Demi-bold";
  src: url("/fonts/Mundial-Demibold.woff2") format("woff2"),
    url("/fonts/Mundial-Demibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mundial Bold";
  src: url("/fonts/Mundial-Bold.woff2") format("woff2"),
    url("/fonts/Mundial-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-mundial-regular;
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
  }
}

/* Custom focus styles for accessibility */
.focus-visible:focus {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

/* High-quality text rendering */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}

/* scrollbar styles */
@layer components {
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: #1e1e1e;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555;
  }
}
@layer utilities {
  .bg-grid {
    background-image: linear-gradient(to right, #222 1px, transparent 1px),
      linear-gradient(to bottom, #222 1px, transparent 1px);
    background-size: 12rem 12rem;
  }
  .bg-grid-dark {
    background-image: linear-gradient(to right, #e5e5e5 1px, transparent 1px),
      linear-gradient(to bottom, #e5e5e5 1px, transparent 1px);
    background-size: 12rem 12rem;
  }
  .bg-grid-sm {
    background-image: linear-gradient(to right, #e5e5e5 1px, transparent 1px),
      linear-gradient(to bottom, #e5e5e5 1px, transparent 1px);
    background-size: 8rem 8rem;
  }
  .bg-grid-sm-dark {
    background-image: linear-gradient(to right, #535353 1px, transparent 1px),
      linear-gradient(to bottom, #535353 1px, transparent 1px);
    background-size: 8rem 8rem;
  }
}
